#revSeekBar {
    position: fixed;
    top:0;
    right:0;

    padding:7px 11px;

    background: #F6F5F3;
    border-radius: 0 0 0 4px;

    /*box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.45);*/
    border: 1px solid #929AB4;
    font-size: 18px;
    line-height:18px;

    z-index: 100;

    white-space: nowrap;

}

#revSeekBar input[type="number"] {
    border: solid 1px #d3d4d4;

    width: 50px; /* box-sizing: border-box;*/
    text-align: right;
    padding: 5px;
}

#revSeekBar input[type="datetime-local"] {
    position: relative;
    top:-1px; /*какогото чорта в Chrome  datetime-local input на 1px ниже выводится чем такойже высоты input number*/
    border: solid 1px #d3d4d4;
    width: 276px;
    padding: 3px;
}

/*Текстовые надписи некрасиво висят слегка выше чем им положено*/
#revSeekBar .labels {
    position: relative;
    top:1px;
}


#ajaxSpiner {
    position: fixed;

    left: 50%;
    top:50%;
    width: 64%;
    margin: -47px 0 0 -30.5%;

    background: rgba(51, 71, 204, 0.20); /*F9F2EB;*/

    border-radius: 5px;

    padding: 0px;

    /*border: 1px solid #929AB4;*/

    z-index: 1000;

    pointer-events: none;

}

#floatingCirclesG{

     margin:auto; /*centers spiner in container, not generated by http://cssload.net/ */
}
/*--------------------------------------------------------------*/
/* http://cssload.net/ */
 #floatingCirclesG{
position:relative;
width:113px;
height:113px;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#FFFFFF;
height:21px;
width:21px;
-moz-border-radius:10px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:10px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:10px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:10px;
-o-animation-name:f_fadeG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:10px;
animation-name:f_fadeG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:46px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#frotateG_02{
left:13px;
top:13px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#frotateG_03{
left:46px;
top:0;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#frotateG_04{
right:13px;
top:13px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#frotateG_05{
right:0;
top:46px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#frotateG_06{
right:13px;
bottom:13px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#frotateG_07{
left:46px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#frotateG_08{
left:13px;
bottom:13px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#3F5EF5}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#3F5EF5}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#3F5EF5}

100%{
background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
0%{
background-color:#3F5EF5}

100%{
background-color:#FFFFFF}

}

@keyframes f_fadeG{
0%{
background-color:#3F5EF5}

100%{
background-color:#FFFFFF}

}

/* Disable hovering menu input backup view mode */
.hoveringMenu_panel {
    display:none;
}